<html>
  <head>
    <title>john.fisk.me | {{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>
    {{teaser|safe}}
    </div>
    <div>
    {{content|safe}}
    </div>
  </body>
</html>