<html>
  <head>
    <title>john.fisk.me | {{feed.entry.gsx$title.$t}}</title>
  </head>
  <body>
    <h1>{{feed.entry.gsx$title.$t}}</h1>
    <div>
    {{feed.entry.gsx$teaser.$t}}
    </div>
    <div>
    {{feed.entry.gsx$content.$t}}
    </div>
  </body>
</html>